html {
    scroll-behavior: smooth;
}

body {
    // Montserrat is a sans-sarif theme
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color: $dark-color;
    background: rgba($primary-color-variant, 0.1);
    // we can't highlight any text on the page
    user-select: none;
}

.container {
    // 82% of screen width for large screens
    width: $container-lg;
    // center the container
    margin: 0 auto;
}

img {
    display: block;
    // 100% of width given to it by parent element
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

section {
    // each section should have a margin-top
    // of 6rem
    margin-top: 6rem;
    // all the h2 contained in a section
    // & = section
    &>h2 {
        text-align: center;
    }
    // here we are grabbing the paragraph
    &>p {
        text-align: center;
        width: 42%;
        // top = 0.6rem
        // left & right = auto = center
        // bottom = 2.5rem
        margin: 0.6rem auto 2.5rem;
    }
}

// button class
.btn {
    @include button;
}

.btn-primary {
    @include button($white-color, $primary-color);
}

// mediaqueries
// medium devices
@media screen and (max-width: 1024px) {
    .container {
        // width of the container class will be 90%
        width: $container-md;
    }
    section {
        &>p {
            width: 55%;
        }
    }
}

// smaller devices
@media screen and (max-width: 600px) {
    section {
        &>p {
            // 90% container width
            width: $container-md;
        }
    }
}